*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: black;
  color: white; 
}
.round {
  border-radius: 50%;
}



.r1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.r2 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.r2 ul li{
    list-style: none;
    font-size: 9rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bolder;
    animation: rain 2.3s linear forwards;
    
}
@keyframes rain{
    0%{
        color: white;
        transform: rotate(0deg);
    }
    25%{
        color: white;
        transform: rotate(45deg);

    }

    50%{
        color: white;
        transform: rotate(90deg);

    }
    100%{
        color: rgb(255, 115, 0);
        transform: rotate(360deg);
    }
}

.r2 ul li:nth-child(1){
    animation-delay: 0s;

    
}
.r2 ul li:nth-child(2){
    animation-delay: 0.4s;
}
.r2 ul li:nth-child(3){
    animation-delay: 0.8s;
}
.r2 ul li:nth-child(4){
    animation-delay: 1.2s;
}
.r2 ul li:nth-child(5){
    animation-delay: 1.6s;
}
